main{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    padding: 20px;
    align-items: center;
    
    h1 span{
        color: #ff9500;
    }
    h1{
        transition: 500ms;
    }
    h1:hover{
        cursor: pointer;
        color: #ff9500;
    }

    .menu-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        p{
            font-weight: 400;
            font-size: 16px;
            transition: 500ms;
        }

        p:hover{
            cursor: pointer;
            color: #ff9500;
        }
    }

    .shopping-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 3px #ff9500;
        border-radius: 25px;
        padding: 10px;
        margin-right: 20px;
        transition: 500ms;
    }

    .shopping-cart:hover{
        cursor: pointer;
        transform: scale(1.05);
        color: #ff9500;
    }

}

