@if(!currentProduct){
    <app-loading></app-loading>
}

@if (currentProduct) {
<div class="page-wrapper">

  <div class="container">
    <div>
      <img [src]="currentProduct.image" alt="Imagem do produto">
    </div>

    <div class="details">
      <table>
        <tr>
          <td class="title-label">{{ currentProduct.title | uppercase }}</td>
        </tr>
        <tr>
          <td class="description-label"><span>Descrição:</span> {{ currentProduct.description }}</td>
        </tr>
        <tr class="price-label">
          <td><span>Preço:</span> {{ currentProduct.price | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td class="button-td"><button (click)="addProductToCart(currentProduct.id)">Adicionar ao Carrinho</button></td>
        </tr>
      </table>
    </div>

      @if (showCartAnimation){
        <div class="cart-animation">
          Produto adicionado ao carrinho!
        </div>

      }
  </div>

</div>

}