table{
    padding: 10px;
}

td{
    border: solid 2px #222;
    border-radius: 8px;
    padding: 10px;
}
.price-td{
    text-align: center;
}

.total-td{
    font-weight: 800;
    background-color: #222;
    color: #ff9500;
}